.container {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}


@media (min-width: 768px) {
.container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
}
}


@media (min-width: 1280px) {
.container {
    max-width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
}
}